* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 900px;
    margin: 50px auto;
    display: flex;
}

.orderContainer {
    width: 340px;
    float: left;
    height: 605px;
    border: 1px solid #ccc;
}

.goodsContainer {
    flex: 1;
    float: left;
    height: 605px;
    border: 1px solid #ccc;
    border-left: none;
}

.title {
    color: #666;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}

.tabContainer {
    width: 90%;
    margin: 10px auto;
    height: 36px;
    display: flex;
}

.tabItem {
    flex: 1;
    text-align: center;
    cursor: pointer;
    user-select: none;
    line-height: 36px;
    font-size: 15px;
}

.tabItem:hover {
    border-bottom: 2px solid rgb(89, 167, 240);
}

.content {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 500px;
}
.contentbox{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.contentbox::-webkit-scrollbar{
    display: none;
}
.content::-webkit-scrollbar{
    display: none;
}
.actived {
    border-bottom: 2px solid rgb(89, 167, 240);
}

.contentUndo {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    color: #333;
}

.normalFoods {
    display: flex;
    justify-content: space-evenly;
}

.normalFoods-box {
    height: 500px;
    flex: 1;
}

.normalFoods-box::-webkit-scrollbar {
    display: none;
}

.normalFoodsTitle {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height: 36px;
    border-bottom: 1px solid rgb(113, 158, 255);
    color: rgb(113, 158, 255);
    font-size: 20px;
    font-weight: 900;
}

.normalFoods-item {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border-bottom: 1px solid rgb(248,146,146);
}
.imgBox{
    width: 140px;
    margin: 15px 0 4px 0;
}
.imgBox>img{
    width: 100%;
}

.goodsinfo{
    font-size: 14px;
}
.goodsinfo>span{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    width: 150px;
}
.handleAdd{
    appearance: none;
    margin: 10px 0;
    outline: none;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: aliceblue;
    background-color: rgb(245, 108, 108);
}
.handleAdd:hover{
    background-color: rgb(236, 78, 78);
}
.item-container{
    overflow: auto;
    height: 470px;;
}

.item-container::-webkit-scrollbar{
    width: 4px;
    border-radius: 2px;
    background-color: rgba(233, 103, 103,0.1);
}
.item-container::-webkit-scrollbar-thumb{
    width: 4px;
    background-color: rgb(253, 114, 114,0.4);
}

.content-noworder{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(182, 182, 182);
}
.content-topinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}
.caozuo{
    color: rgb(55, 159, 245);
    cursor: pointer;
    display: inline-block;
    margin: 0 4px;
    user-select: none;
}
.allprice{
    position: absolute;
    bottom: 0;
    padding: 5px 15px;
    right: 0;
    border-radius: 4px;
    color: rgb(255, 250, 250);
    background-color: rgb(252, 109, 109);
    cursor: pointer;
    user-select: none;
}